body
{
}
.news-left
{
    padding-right:8px;
    }
.wrapper-content
{
    width:90%;
    }
.wrapper
{
    width:80%;
    }
    
    .allnews-padding
    {
        padding:5px;
        }
.title
{
    font-weight: bolder;
    padding-bottom:10px;
    }
    
    .button
    {
            padding-top:10px;
        }
    
    .content
    {
        font-size: 16;
        color:#6E6E6E;
        }
        
        .image-action
        {
            margin-right: 0px;
            padding-right: 0px;
            width:14px;
            height:14px;
            }
            
.webpart-button
{
    padding:3px;
    }
    

    .myButton {
        
        -moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
        -webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
        box-shadow:inset 0px 0px 14px -3px #f2fadc;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbe6c4), color-stop(1, #9ba892));
        background:-moz-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-webkit-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-o-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:-ms-linear-gradient(top, #dbe6c4 5%, #9ba892 100%);
        background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbe6c4', endColorstr='#9ba892',GradientType=0);
        
        background-color:#dbe6c4;
        
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        
        border:1px solid #b2b8ad;
        
        display:inline-block;
        color:#757d6f;
        font-family:arial;
        font-size:12px;
        font-weight:bold;
        padding:6px 24px;
        text-decoration:none;
        
        text-shadow:0px 1px 0px #ced9bf;
        
    }
    .myButton:hover {
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9ba892), color-stop(1, #dbe6c4));
        background:-moz-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-webkit-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-o-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:-ms-linear-gradient(top, #9ba892 5%, #dbe6c4 100%);
        background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ba892', endColorstr='#dbe6c4',GradientType=0);
        
        background-color:#9ba892;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
    .textbox{
	background-image:url(../CSC-Images/form_bg.jpg);
	background-repeat:repeat-x;
	border:1px solid #d1c7ac;
	color:#333333;
	padding:3px;
	margin-right:4px;
	margin-bottom:8px;
	font-family:tahoma, arial, sans-serif;
}
