/* ====== default css for the master page ====== */
/* --- purely optional - let SharePoint display vertical scroll only when necessary --- */
body #s4-workspace
{
    overflow: auto;
}
#s4-workspace #s4-pageFooter
{
	clear: both;
}
.ms-dialog #pageContentWrapper
{
    padding: 8px;
}
/* ====== End default css for the master page ====== */



/* ====== css for your design ====== */
body #s4-workspace
{
} 
.s4-pageWrapper
{
}
/* ====== End css for your design ====== */
